.nav-area a.item {
  color: white !important;
}

.nav-area a.item:hover {
  text-decoration: underline;
}

.nav-area .item .header {
  color: white !important;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.nav-area.overlay {
  position: absolute;
  width: 100vw !important;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9) !important;
}

@media (max-width: 900px) {
  .nav-area {
    display: none !important;
  }
  .nav-area.overlay {
    display: block !important;
  }
}
