body {

}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

svg {
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

path {
  fill: none;
}

p, li {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

code {
  margin: 8px;
  padding: 8px;
  background-color: #f8f8f8;
}

path {
  shape-rendering: geometricPrecision;
}
