body {

}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

svg {
  background-color: #fff;
  border: 1px solid #ccc;
}

path {
  shape-rendering: geometricPrecision;
}

path.merged {
  fill: none;
  stroke-width: 1;
  stroke: #222;
}

.dag path {
  fill: none;
  stroke-width: 0.5;
}

.basic-shapes path {
  fill: none;
  stroke: rebeccapurple;
  stroke-width: 1;
  shape-rendering: geometricPrecision;
}

.basic-shapes svg, .complex svg {
  border: 0;
}

.basic-shapes path.filled {
  fill: #ddd;
  stroke-width: 0;
}

.basic-shapes a, .complex a {
  display: block;
  margin-bottom: 10px;
}

.complex path {
  stroke-width: none
}

p, li {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

code {
  margin: 8px;
  padding: 8px;
  background-color: #f8f8f8;
}

path {
  shape-rendering: geometricPrecision;
}

code {
  margin-left: 0;
}
