:root {
  --black: #000;
  --near-black: #111;
  --dark-gray: #333;
  --mid-gray: #555;
  --gray: #777;
  --silver: #999;
  --light-silver: #aaa;
  --moon-gray: #ccc;
  --light-gray: #eee;
  --near-white: #f8f8f8;
  --white: #fff;

  --transparent: transparent;

  --black-90: rgba(0, 0, 0, 0.9);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-70: rgba(0, 0, 0, 0.7);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-05: rgba(0, 0, 0, 0.05);
  --black-025: rgba(0, 0, 0, 0.025);
  --black-0125: rgba(0, 0, 0, 0.0125);

  --white-90: rgba(255, 255, 255, 0.9);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-05: rgba(255, 255, 255, 0.05);
  --white-025: rgba(255, 255, 255, 0.025);
  --white-0125: rgba(255, 255, 255, 0.0125);

  --dark-red: #e7040f;
  --red: #ff4136;
  --light-red: #ff725c;
  --orange: #ff6300;
  --gold: #ffb700;
  --yellow: #ffd700;
  --light-yellow: #fbf1a9;
  --purple: #5e2ca5;
  --light-purple: #a463f2;
  --dark-purple: rebeccapurple;
  --dark-pink: #d5008f;
  --hot-pink: #ff41b4;
  --pink: #ff80cc;
  --light-pink: #ffa3d7;
  --dark-green: #137752;
  --green: #19a974;
  --light-green: #9eebcf;
  --navy: #001b44;
  --dark-blue: #00449e;
  --blue: #357edd;
  --light-blue: #96ccff;
  --lightest-blue: #cdecff;
  --washed-blue: #f6fffe;
  --washed-green: #e8fdf5;
  --washed-yellow: #fffceb;
  --washed-red: #ffdfdf;
  --left-grid-col: 220px;
  --app-header-height: 50px;
  --left-scrollable-height: 100vh;
  --center-scrollable-height: 100vh;
  --nav-area-header-bg: var(--lightest-blue);
  --nav-area-items-bg: var(--white);
  --content-area-header-bg: var(--white);
  --content-area-items-bg: var(--white);
}

body {
  margin: 0;
  background-color: var(--white);
  overflow: hidden;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline div:focus,
.no-focus-outline [role='button']:focus {
  outline: none;
}

.app-header {
  height: 50px;
  background-color: #224367;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.app-main {
  display: grid;
  height: calc(100vh - 50px);
  grid-template-columns: var(--left-grid-col) 1fr;
  grid-template-rows: auto 1fr;
  transition: all 0.1s ease-in-out;
}

.nav-area {
  height: calc(100vh - 50px);
  padding-top: 15px;
  padding-bottom: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #ccc;
  background-color: #000 !important;
  border-radius: 0 !important;
  scroll-behavior: smooth;
}
.content-area {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.nav-actuator {
  display: none;
}



.nav-actuator:hover path {
  stroke: yellow;
}

@media (max-width: 900px) {
  .app-main {
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    height: 100%;
  }
  .content-area {
    overflow-x: scroll;
  }
  .nav-actuator {
    display: block;
  }
}

svg {
  background-color: #fff;
  outline: 1px solid #ccc;
}

path {
  shape-rendering: geometricPrecision;
}

path.merged {
  fill: none;
  stroke-width: 1;
  stroke: #222;
}

.dag path {
  fill: none;
  stroke-width: 0.5;
}

.basic-shapes path {
  shape-rendering: geometricPrecision;
}

.basic-shapes svg,
.complex svg {
  border: 0;
  outline: 0;
}

.basic-shapes a,
.complex a {
  display: block;
  margin-bottom: 10px;
}

.complex path {
  stroke-width: none;
}

p,
li {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
  font-size: 1.28571429rem;
}

h1 {
  color: #224367;
  min-height: 4rem !important;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  font-size: 1.71428571rem;
}

code {
  margin: 8px;
  padding: 8px;
  background-color: #f8f8f8;
  margin-left: 0;
  white-space: pre-wrap;
  unicode-bidi: embed;
  display: block;

}

path {
  shape-rendering: geometricPrecision;
}

.csb-iframe {
  width: 90%;
  height: 500px;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
}

a:link {
  display: inline-block;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}

.flex-none {
  flex: none;
}

.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}

.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.self-baseline {
  align-self: baseline;
}
.self-stretch {
  align-self: stretch;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-center {
  align-content: center;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-stretch {
  align-content: stretch;
}

.order-0 {
  order: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
.order-5 {
  order: 5;
}
.order-6 {
  order: 6;
}
.order-7 {
  order: 7;
}
.order-8 {
  order: 8;
}
.order-last {
  order: 99999;
}

.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
